# Ignore the following files in git repository:
###############################################

# Python compiled files:
*.pyc
*.orig
build
dist

# Python backup files:
*.py~

# PyCharm settings:
.idea
.cache

# Gurobi log files:
*gurobi.log

# Output files:
output/

# Saved output files in examples
examples/*.csv
examples/*.json

# Optimization model files
*.lp
*.ilp

# Other files
*.pdf
*.emf
*.asv
*.bak
src/*.egg-info

# Documentation build files
docs/pycity_scheduling*.rst
docs/_build